docs/n8n-workflow-pennylane-finsights.json
{
  "name": "Pennylane → FinSights Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.pennylane.com/api/v1/customer_invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "qs": {
            "filter[date][gte]": "={{$now.minus({days: 1}).toISODate()}}"
          }
        }
      },
      "name": "Get Pennylane Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        450,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Pennylane API",
          "id": "1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const invoices = $input.all()[0].json.invoices;\n\nreturn invoices.map(inv => ({\n  json: {\n    date: inv.date,\n    description: `${inv.customer.name} - ${inv.invoice_number}`,\n    amount: parseFloat(inv.amount),\n    type: 'income',\n    category: 'Ventes',\n    paymentStatus: inv.status === 'paid' ? 'Payé' : 'En attente',\n    source: 'pennylane'\n  }\n}));"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://finsight.zineinsight.com/api/integrations/n8n/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transactions",
              "value": "={{$json}}"
            },
            {
              "name": "companyId",
              "value": "={{$env.FINSIGHTS_COMPANY_ID}}"
            },
            {
              "name": "source",
              "value": "pennylane"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 50
            }
          }
        }
      },
      "name": "Send to FinSights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "FinSights Webhook",
          "id": "2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pennylane Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pennylane Invoices": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Send to FinSights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-12-16T00:00:00.000Z",
      "updatedAt": "2025-12-16T00:00:00.000Z",
      "id": "1",
      "name": "finance"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-16T00:00:00.000Z",
  "versionId": "1"
}
